.container {
  background-color: #a7b0ff;
  width: 90%;
  height: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container div {
  width: 200px;
  height: 200px;
}

.both {
}
